{% extends "/layout.htm" %}

{% block title %}
Добавление оборудования
{% endblock %}

{% block body %}

    <h3>Добавление оборудования</h3>
    <hr>

    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {% for field in form if field.name not in ["csrf_token", "create_submit"] %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <div class="row">
            {% for field in form if field.name not in ["csrf_token", "create_submit"] %}
                <div class="col-6 mb-3 d-flex align-items-baseline">
                    <div class="input-group">
                        {{ field.label(class="input-group-text") }}
                        {{ field(class="form-control") }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ form.create_submit(class="btn btn-success w-100 mb-3") }}
    </form>

{% endblock %}
