{% extends "/clients/layout.htm" %}

{% block title %}
    {{ client.surname }} {{ client.name }}
{% endblock %}

{% block clients_body %}
    <div class="col">
        <h4>Сметы клиента</h4><hr>
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th scope="col" style="font-size:.8rem">Дата создания</th>
                <th scope="col" style="font-size:.8rem">Дата выдачи</th>
                <th scope="col" style="font-size:.8rem">Дата возврата</th>
                <th scope="col" style="font-size:.8rem">Составитель</th>
                <th scope="col" style="font-size:.8rem">Проект</th>
                <th scope="col" style="font-size:.8rem">Оплата</th>
                <th scope="col" style="font-size:.8rem">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% if estimates: %}
                {% for estimate in estimates: %}
                    <tr>
                        <td style="font-size:.8rem">{{ estimate.create_date }}</td>
                        <td style="font-size:.8rem">{{ estimate.start_date }}</td>
                        <td style="font-size:.8rem">{{ estimate.close_date }}</td>
                        <td style="font-size:.8rem">{{ estimate.creator_login }}</td>
                        <td style="font-size:.8rem">{{ estimate.project }}</td>
                        <td style="font-size:.8rem">
                            {% if estimate.is_payed %}
                                Оплачено
                            {% else %}
                                Не оплачено
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="/estimates/{{ estimate.id }}/show" class="btn btn-success btn-sm" title="Просмотр и редактирование">
                                <i class="bi bi-eye light"></i>
                            </a>
                            {% if user.role == "Owner" %}
                                <a href="#" class="btn btn-danger btn-sm" title="Удалить" data-bs-estimate-id={{estimate.id}} data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    <i class="bi bi-x-lg light"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Удаление сметы</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить смету?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
              <button type="button" class="btn btn-danger">Удалить</button>
            </div>
          </div>
        </div>
    </div>

    <script>
        var deleteModal = document.getElementById('deleteModal')
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var estimate_id = button.getAttribute('data-bs-estimate-id')
            console.log(estimate_id)
            var modalButton = deleteModal.querySelector('.modal-footer .btn-danger')
            var query = "location.href='/estimates/"+ estimate_id + 
                "/delete?next={{ url_for('clients_estimates', client_id=client.id) }}'"
            modalButton.setAttribute("onclick", query);
        })
    </script>
{% endblock %}