{% extends "/layout.htm" %}

{% block title %}
    Клиенты
{% endblock %}

{% block body %}
    <h3>Клиенты</h3><hr>

    <h5>Поиск</h5>
    <form action="" method="POST">
        <div class="row mb-3 d-flex align-items-center">
            {{ search.hidden_tag() }}
            <div class="col-3">
                {{ search.field_name(class='form-control form-control-sm') }}
            </div>
            <div class="col-3">
                {{ search.query(class='form-control form-control-sm') }}
            </div>
            <div class="col-2">
                <div class="form-check form-switch">
                    {{ search.is_payed(class='form-check-input') }}
                    {{ search.is_payed.label(class='form-check-label') }}
                </div>
            </div>
            <div class="col-2">
                {{ search.search_submit(class='btn btn-success btn-sm px-5 w-100') }}
            </div>
            <div class="col-2">
                <a href="{{ url_for('clients') }}" class="btn btn-primary px-5 btn-sm">Сбросить</a>
            </div>
        </div>
    </form>
    <hr>

    <div class="row mb-3">
        <div class="col">
            <a href="{{ url_for('clients_create') }}" class="btn btn-primary btn-sm">
                <i class="bi bi-file-earmark-plus text-light me-1"></i>
                Добавить клиента
            </a>
        </div>
    </div>
    

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Телефон</th>
                <th scope="col">Telegram</th>
                <th scope="col">Скидка (%)</th>
                <th scope="col">Комментарий</th>
                <th scope="col">Не оплачено / всего</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% if clients %}
                {% for client in clients %}
                    <tr>
                        <td>
                            <a href="{{ url_for('clients_show', client_id=client.id) }}" class="link-primary">
                                {{ client.surname }} {{ client.name }}
                            </a>
                        </td>
                        <td>
                            <a href="tel:{{ client.phone }}" class="link-primary text-decoration-none text-reset">
                                {{ client.phone }}
                            </a>
                        </td>
                        <td>
                            {% if client.telegram %}
                                <a href="https://t.me/{{ client.telegram }}" class="link-primary text-decoration-none text-reset">
                                    {{ client.telegram }}
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ client.discount }}</td>
                        <td>
                            {% if client.comment %}
                                {{ client.comment }}
                            {% endif %}
                        </td>
                        <td>
                            <b>{{ client.active_estimates }}</b> из {{ client.total_estimates }}
                        </td>
                        <td class="text-center">
                            <a href="/estimates/create" title="Создать смету" class="btn btn-success btn-sm">
                                <i class="bi bi-journal-plus light"></i>
                            </a>
                            <a href="{{ url_for('clients_estimates', client_id=client.id) }}" title="Сметы" class="btn btn-primary btn-sm">
                                <i class="bi bi-journal-text light"></i>
                            </a>
                            <a href="{{ url_for('clients_show', client_id=client.id) }}" title="Личные данные" class="btn btn-info btn-sm">
                                <i class="bi bi-info-circle light"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}